.accountpage-wrapper {
  margin: 0 20% 0 25%;
}

.accountpage-image-class {
  position: absolute;
  width: 15%;
  margin-left: 18%;
}

.accountpage-info-window {
  margin-top: 50px;
  background-color: rgba(20, 27, 31, 0.95);
  border: 3px solid #c1bf97;
  border-radius: 0 25px 0 25px;
}

.accountpage-info-window-content {
  margin: 15px 20px 15px 20%;
}

.accountpage-info-window h1 {
  font-family: antiquarian, sans-serif;
  color: white;
  font-size: 100px;
  margin-top: 60px;
  padding: 0;
  line-height: 20px;
}

.accountpage-info-window hr {
  border: 1px solid #c1bf97;
}

.accountpage-progressbar {
  margin: 0 5% 0 5%;
  background-color: black;
  height: 30px;
}

.accountpage-progressbar-int {
  background-color: blue;
  height: 30px;
}

.accountpage-winlossgrid {
  text-align: center;
  color: white;
  display: grid;
  grid-template-columns: 50px 5px 50px;
  grid-template-rows: auto 5px 40px;
  grid-template-areas: 
  "win-header . loss-header"
  "win-amount slash loss-amount"
}

.accountpage-winlossgrid-winheader {
  color: black;
  grid-area: win-header;
}

.accountpage-winlossgrid-lossheader {
  color: black;
  grid-area: loss-header;
}

.accountpage-winlossgrid-wins {
  color: black;
  grid-area: win-amount;
}

.accountpage-winlossgrid-slash {
  color: black;
  grid-area: slash
}

.accountpage-winlossgrid-losses {
  color: black;
  grid-area: loss-amount;
}
