.window_wrapper {
  width: 70%;
  margin: 50px auto;
  text-align: center;
  background-color: white;
  border: 3px solid #c1bf97;
  border-radius: 0 0 25px 25px;
}

.entry-page-flavor-text {
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  margin: 20px 10% 0 10%;
}

.content_wrapper {
  /* margin: 0 30% */
}

.large_buttons {
  margin-top: 60px;
  list-style-type: none;
}

.large_buttons li {
  margin-left: 25px;
  background-color: #4f3e37;
  display: inline-block;
  padding: 5px 60px 0 60px;
}

.large_buttons li:hover {
  background-color: orange;
  color: #F1EECE;
}

#entry-page-left-button {
  border-radius: 0 0 0 25px;
}

#entry-page-right-button {
  border-radius: 0 0 25px 0;
}

.large_buttons a {
  font-size: 30px;
  font-family: antiquarian, sans-serif;
  color: white;
}
