.gamesContainerPage {
  text-align: center;
}

.gameTileContainer {
  /* text-align: center; */
}

.gamesListButtons {
  margin-top: 70px;
  /* list-style-type: none; */
}

.gamesListButtons li {
  width: 250px;
  background-color: orange;
  padding: 20px 60px;
  display: inline-block;
  margin: 20px 20px 0 20px;
}

.gamesListButtons a {
  /* display: inline; */
  color: white;
}

.gameTile {
  color: white;
  margin: 50px 20px 0 20px;
  background-color: black;
  padding: 20px;
  display: inline-block;
}

.gameTileLink {
  /* width: 200px; */
  /* margin: 30px; */
}
