h4 {
  color: white;
}

.card {
  width: 6.2%;
  margin: 2.2px 3px;
}

.card:hover {
  transform: scale(2,2);
}

.gamePlayButtons li {
  width: 250px;
  background-color: orange;
  padding: 20px 60px;
  display: inline-block;
  margin: 10px 20px 0 20px;
  color: white
}

.card-selected {
  border: 3px solid yellow;
}

.errorText {
  color: white;
}

/* COLLECTED CARDS POPUP TILE */

.collected-cards-tile-wrapper {
  background-color: #111B36;
  padding: 100px;
  position: absolute;
  text-align: left;
}

.opponent-collected {
  right: 0
}

.collected-card {
  width: 7%;
}
