h4 {
  color: white;
}

.card {
  width: 6.2%;
  margin: 2.2px 3px;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}

.card-token {
  width: 50%;
  top: 75%;
  left: 55%;
  position: absolute;
  filter: drop-shadow(2px 2px 2px #111111);
}

.card:hover {
  transform: scale(2,2);
  z-index: 500;
}

.gamePlayButtons li {
  width: 250px;
  background-color: orange;
  padding: 20px 60px;
  display: inline-block;
  margin: 10px 20px 0 20px;
  color: white
}

.card-selected {
  border: 3px solid yellow;
}

.errorText {
  color: white;
}

/* COLLECTED CARDS POPUP TILE */

.collected-cards-tile-wrapper {
  background-color: #111B36;
  padding: 100px;
  position: absolute;
  text-align: left;
  z-index: 1000;
}

.opponent-collected {
  right: 0
}

.collected-card {
  width: 7%;
}

.collectedCards-Token {
  width: 7%;
}
