h4 {
  color: white;
}

.gemMode {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
  background: radial-gradient(ellipse at center, rgba(5,10,20,0.75) 0%,rgba(1,5,15,1) 100%);
}

.card {
  width: 6.2%;
  margin: 2.2px 3px;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  transition-property: transform;
  transition-duration: 0.3s;
}

.cardWide {
  z-index: 500;
  transform: scale(1.5,1);
  transition-duration: 0.1s;
  transition-property: all;
}

.cardThin {
  transition-duration: 0.3s;
  transition-property: all;
  border: none;
  transform: scale(0.1,1);
}

.card-token {
  width: 50%;
  top: 75%;
  left: 55%;
  position: absolute;
  filter: drop-shadow(2px 2px 2px #111111);
}

.card-gem {
  width: 50%;
  top: 65%;
  left: 5%;
  position: absolute;
  filter: drop-shadow(2px 2px 2px #111111);
}

.card:hover {
  z-index: 500;
  transform: scale(2,2);
}

.gamePlayButtons li {
  width: 250px;
  background-color: orange;
  padding: 20px 60px;
  display: inline-block;
  margin: 10px 20px 0 20px;
  color: white
}

.card-selected {
  border: 3px solid yellow;
}

.errorText {
  color: white;
}

.gems-in-hand {
  width: 5%
}

/* COLLECTED CARDS POPUP TILE */

.collected-cards-tile-wrapper {
  background-color: #111B36;
  padding: 100px;
  position: absolute;
  text-align: left;
  z-index: 1000;
}

.opponent-collected {
  right: 0
}

.collected-card {
  width: 7%;
}

.collectedCards-Token {
  width: 7%;
}
