.score-grid-wrapper {
  margin: 0 5% 0 5%;
}

.score-card {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.endGameDisplay-Token {
  width: 15%;
}

.endGame-doneButton {
  border-radius: 0 25px 0 0;
}

.endGame-Message {
  position: relative;
  top: 15px;
}

.scoreScreenPlayerBox {
  border-radius: 25px 0 0 0;
}

.scoreScreenOpponentBox {
  border-radius: 0 25px 0 0;
}

#score-text-total {
  font-family: antiquarian, sans-sans-serif;
  font-size: 40px;
  color: white;
  display: inline-block;
  margin: 0 20px;
}
#score-user-total, #score-opponent-total {
  font-family: mr-eaves-modern, sans-serif;
  color: white;
  font-size: 60px;
  display: inline-block;
}

.grid-container {
  margin: 0 15%;
  text-align: center;
}
 
.score-grid {
  margin-bottom: 30px;
  text-align: left;
  color: white;
  display: grid;
  grid-template-columns: auto 10px auto 10px auto 10px auto 10px auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "branch-line branch-line branch-line branch-line branch-line branch-line branch-line branch-line branch-line"
  "player-one-branch . player-one-branch-icon . branch-text . player-two-branch-icon . player-two-branch"
  "dew-line dew-line dew-line dew-line dew-line dew-line dew-line dew-line dew-line"
  "player-one-dew . player-one-dew-icon . dew-text . player-two-dew-icon . player-two-dew"
  "flower-line flower-line flower-line flower-line flower-line flower-line flower-line flower-line flower-line"
  "player-one-flower . player-one-flower-icon . flower-text . player-two-flower-icon . player-two-flower"
  "fruit-line fruit-line fruit-line fruit-line fruit-line fruit-line fruit-line fruit-line fruit-line"
  "player-one-fruit . player-one-fruit-icon . fruit-text . player-two-fruit-icon . player-two-fruit"
  "leaf-line leaf-line leaf-line leaf-line leaf-line leaf-line leaf-line leaf-line leaf-line"
  "player-one-leaf . player-one-leaf-icon . leaf-text . player-two-leaf-icon . player-two-leaf"
  "moss-line moss-line moss-line moss-line moss-line moss-line moss-line moss-line moss-line"
  "player-one-moss . player-one-moss-icon . moss-text . player-two-moss-icon . player-two-moss"
  "mushroom-line mushroom-line mushroom-line mushroom-line mushroom-line mushroom-line mushroom-line mushroom-line mushroom-line"
  "player-one-mushroom . player-one-mushroom-icon . mushroom-text . player-two-mushroom-icon . player-two-mushroom"
  "spider-line spider-line spider-line spider-line spider-line spider-line spider-line spider-line spider-line"
  "player-one-spider . player-one-spider-icon . spider-text . player-two-spider-icon . player-two-spider"
  "vine-line vine-line vine-line vine-line vine-line vine-line vine-line vine-line vine-line"
  "player-one-vine . player-one-vine-icon . vine-text . player-two-vine-icon . player-two-vine"
  "sun-line sun-line sun-line sun-line sun-line sun-line sun-line sun-line sun-line"
  "player-one-sun . player-one-sun-icon . sun-text . player-two-sun-icon . player-two-sun"
  "moon-line moon-line moon-line moon-line moon-line moon-line moon-line moon-line moon-line"
  "player-one-moon . player-one-moon-icon . moon-text . player-two-moon-icon . player-two-moon"
  "wind-line wind-line wind-line wind-line wind-line wind-line wind-line wind-line wind-line"
  "player-one-wind . player-one-wind-icon . wind-text . player-two-wind-icon . player-two-wind";
}

.score-grid hr {
  margin: 5px 0;
}

.branchLine {
  grid-area: branch-line;
  border: 1px solid #c1bf97;
}

.score-text-branch {
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 20%;
  grid-area: branch-text;
}

.score-user-branch {
  text-align: right;
  grid-area: player-one-branch;
}
.score-opponent-branch {
  grid-area: player-two-branch;
}

.userBranchIcon {
  height: 43px;
  grid-area: player-one-branch-icon
}

.opponentBranchIcon {
  height: 43px;
  grid-area: player-two-branch-icon
}

.dewLine {
  grid-area: dew-line;
  border: 1px solid #c1bf97;
}
.score-text-dew {
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 20%;
  grid-area: dew-text;
}
.score-user-dew {
  text-align: right;
  grid-area: player-one-dew;
}
.score-opponent-dew {
  grid-area: player-two-dew;
}
.userDewIcon {
  height: 43px;
  grid-area: player-one-dew-icon
}
.opponentDewIcon {
  height: 43px;
  grid-area: player-two-dew-icon
}

.flowerLine {
  grid-area: flower-line;
  border: 1px solid #c1bf97;
}
.score-text-flower {
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 20%;
  grid-area: flower-text;
}
.score-user-flower {
  text-align: right;
  grid-area: player-one-flower;
}
.score-opponent-flower {
  grid-area: player-two-flower;
}
.userFlowerIcon {
  height: 43px;
  grid-area: player-one-flower-icon
}
.opponentFlowerIcon {
  height: 43px;
  grid-area: player-two-flower-icon
}

.fruitLine {
  grid-area: fruit-line;
  border: 1px solid #c1bf97;
}
.score-text-fruit {
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 20%;
  grid-area: fruit-text;
}
.score-user-fruit {
  text-align: right;
  grid-area: player-one-fruit;
}
.score-opponent-fruit {
  grid-area: player-two-fruit;
}
.userFruitIcon {
  height: 43px;
  grid-area: player-one-fruit-icon
}
.opponentFruitIcon {
  height: 43px;
  grid-area: player-two-fruit-icon
}

.leafLine {
  grid-area: leaf-line;
  border: 1px solid #c1bf97;
}
.score-text-leaf {
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 20%;
  grid-area: leaf-text;
}
.score-user-leaf {
  text-align: right;
  grid-area: player-one-leaf;
}
.score-opponent-leaf {
  grid-area: player-two-leaf;
}
.userLeafIcon {
  height: 43px;
  grid-area: player-one-leaf-icon
}
.opponentLeafIcon {
  height: 43px;
  grid-area: player-two-leaf-icon
}

.mossLine {
  grid-area: moss-line;
  border: 1px solid #c1bf97;
}
.score-text-moss {
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 20%;
  grid-area: moss-text;
}
.score-user-moss {
  text-align: right;
  grid-area: player-one-moss;
}
.score-opponent-moss {
  grid-area: player-two-moss;
}
.userMossIcon {
  height: 43px;
  grid-area: player-one-moss-icon
}
.opponentMossIcon {
  height: 43px;
  grid-area: player-two-moss-icon
}

.mushroomLine {
  grid-area: mushroom-line;
  border: 1px solid #c1bf97;
}
.score-text-mushroom {
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 20%;
  grid-area: mushroom-text;
}
.score-user-mushroom {
  text-align: right;
  grid-area: player-one-mushroom;
}
.score-opponent-mushroom {
  grid-area: player-two-mushroom;
}
.userMushroomIcon {
  height: 43px;
  grid-area: player-one-mushroom-icon
}
.opponentMushroomIcon {
  height: 43px;
  grid-area: player-two-mushroom-icon
}

.spiderLine {
  grid-area: spider-line;
  border: 1px solid #c1bf97;
}
.score-text-spider {
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 20%;
  grid-area: spider-text;
}
.score-user-spider {
  text-align: right;
  grid-area: player-one-spider;
}
.score-opponent-spider {
  grid-area: player-two-spider;
}
.userSpiderIcon {
  height: 43px;
  grid-area: player-one-spider-icon
}
.opponentSpiderIcon {
  height: 43px;
  grid-area: player-two-spider-icon
}

.vineLine {
  grid-area: vine-line;
  border: 1px solid #c1bf97;
}
.score-text-vine {
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 20%;
  grid-area: vine-text;
}
.score-user-vine {
  text-align: right;
  grid-area: player-one-vine;
}
.score-opponent-vine {
  grid-area: player-two-vine;
}
.userVineIcon {
  height: 43px;
  grid-area: player-one-vine-icon
}
.opponentVineIcon {
  height: 43px;
  grid-area: player-two-vine-icon
}

.sunLine {
  grid-area: sun-line;
  border: 1px solid #c1bf97;
}
.score-text-sun {
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 20%;
  grid-area: sun-text;
}
.score-user-sun {
  text-align: right;
  grid-area: player-one-sun;
}
.score-opponent-sun {
  grid-area: player-two-sun;
}
.userSunIcon {
  height: 43px;
  grid-area: player-one-sun-icon
}
.opponentSunIcon {
  height: 43px;
  grid-area: player-two-sun-icon
}

.moonLine {
  grid-area: moon-line;
  border: 1px solid #c1bf97;
}
.score-text-moon {
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 20%;
  grid-area: moon-text;
}
.score-user-moon {
  text-align: right;
  grid-area: player-one-moon;
}
.score-opponent-moon {
  grid-area: player-two-moon;
}
.userMoonIcon {
  height: 43px;
  grid-area: player-one-moon-icon
}
.opponentMoonIcon {
  height: 43px;
  grid-area: player-two-moon-icon
}

.windLine {
  grid-area: wind-line;
  border: 1px solid #c1bf97;
}
.score-text-wind {
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 20%;
  grid-area: wind-text;
}
.score-user-wind {
  text-align: right;
  grid-area: player-one-wind;
}
.score-opponent-wind {
  grid-area: player-two-wind;
}
.userWindIcon {
  height: 43px;
  grid-area: player-one-wind-icon
}
.opponentWindIcon {
  height: 43px;
  grid-area: player-two-wind-icon
}

.score-winner {
  background-color: rgba(255, 255, 255, 0.1);
} 

@media (max-width:320px)  {
  .score-grid-wrapper {
    margin: 0 1% 0 1%;
  }
  
  .grid-container {
    margin: 0 2%;
    text-align: center;
  }
  
  .score-grid {
    grid-template-columns: auto 10px 30px 10px auto 10px 30px 10px auto;
  }
  
  .score-card {
    height: 30px;
    width: auto;
    margin-right: 2px;
  }
  
  .userBranchIcon {
    height: 30px;
  }
  .userDewIcon {
    height: 30px;
  }
  .userFlowerIcon {
    height: 30px;
  }
  .userFruitIcon {
    height: 30px;
  }
  .userLeafIcon {
    height: 30px;
  }
  .userMossIcon {
    height: 30px;
  }
  .userMushroomIcon {
    height: 30px;
  }
  .userSpiderIcon {
    height: 30px;
  }
  .userVineIcon {
    height: 30px;
  }
  .userSunIcon {
    height: 30px;
  }
  .userMoonIcon {
    height: 30px;
  }
  .userWindIcon {
    height: 30px;
  }
  
  .opponentBranchIcon {
    height: 30px;
  }
  .opponentDewIcon {
    height: 30px;
  }
  .opponentFlowerIcon {
    height: 30px;
  }
  .opponentFruitIcon {
    height: 30px;
  }
  .opponentLeafIcon {
    height: 30px;
  }
  .opponentMossIcon {
    height: 30px;
  }
  .opponentMushroomIcon {
    height: 30px;
  }
  .opponentSpiderIcon {
    height: 30px;
  }
  .opponentVineIcon {
    height: 30px;
  }
  .opponentSunIcon {
    height: 30px;
  }
  .opponentMoonIcon {
    height: 30px;
  }
  .opponentWindIcon {
    height: 30px;
  }
  
  .endGame-doneButton {
    border-radius: 0 0 0 0;
    text-align: center;
    margin: 0;
  }
  
  .gamePlayNav {
    display: block;
    margin-bottom: 210px;
  }
}

@media (min-width: 321px) and (max-width:480px)  {
  .score-grid-wrapper {
    margin: 0 1% 0 1%;
  }
  
  .grid-container {
    margin: 0 2%;
    text-align: center;
  }
  
  .score-grid {
    grid-template-columns: auto 10px 30px 10px auto 10px 30px 10px auto;
  }
  
  .score-card {
    height: 30px;
    width: auto;
    margin-right: 2px;
  }
  
  .userBranchIcon {
    height: 30px;
  }
  .userDewIcon {
    height: 30px;
  }
  .userFlowerIcon {
    height: 30px;
  }
  .userFruitIcon {
    height: 30px;
  }
  .userLeafIcon {
    height: 30px;
  }
  .userMossIcon {
    height: 30px;
  }
  .userMushroomIcon {
    height: 30px;
  }
  .userSpiderIcon {
    height: 30px;
  }
  .userVineIcon {
    height: 30px;
  }
  .userSunIcon {
    height: 30px;
  }
  .userMoonIcon {
    height: 30px;
  }
  .userWindIcon {
    height: 30px;
  }
  
  .opponentBranchIcon {
    height: 30px;
  }
  .opponentDewIcon {
    height: 30px;
  }
  .opponentFlowerIcon {
    height: 30px;
  }
  .opponentFruitIcon {
    height: 30px;
  }
  .opponentLeafIcon {
    height: 30px;
  }
  .opponentMossIcon {
    height: 30px;
  }
  .opponentMushroomIcon {
    height: 30px;
  }
  .opponentSpiderIcon {
    height: 30px;
  }
  .opponentVineIcon {
    height: 30px;
  }
  .opponentSunIcon {
    height: 30px;
  }
  .opponentMoonIcon {
    height: 30px;
  }
  .opponentWindIcon {
    height: 30px;
  }
  
  .endGame-doneButton {
    border-radius: 0 0 0 0;
    text-align: center;
    margin: 0;
    width: 100%;
  }
  
  .gamePlayNav {
    display: block;
    margin-bottom: 215px;
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  .score-grid-wrapper {
    margin: 0 5%;
  }
  
  .grid-container {
    margin: 0 2%;
    text-align: center;
  }
  
  .gamePlayNav {
    display: block;
    margin-bottom: 90px;
  }
}

@media (min-width: 601px) and (max-width: 801px) {
  .gamePlayNav {
    display: block;
    margin-bottom: 90px;
  }
  
  li.endGame-doneButton {
    width: 33%;
  }
  
  .score-grid-wrapper {
    margin: 0 5%;
  }
  
  .grid-container {
    margin: 0 2%;
    width: 100%;
  }
}
